.season-champions {
	width: 280px;
	height: auto;
}

.comp-title {
	font-family: Mon-SemiBold;
	font-size: 14px;
	color: #5f6771;
	margin-left: 10px;
}

.champions-box {
	width: 100%;
	height: 510px;
	margin-top: 16px;
	border-radius: 4px;
	background: #222b35;
	position: absolute;
}

.other-clubs {
	position: sticky;
	margin-left: 590px;
	top: 80px;
	/* margin-top: -90px; */
}

.other-clubs > .champions-box {
	height: 280px;
}

.ads {
	width: 400px;
	height: 300px;
}

.yt-box {
	border-radius: 4px;
	margin-left: 5px;
	margin-top: 5px;
}